@tailwind base;
@tailwind components;
@tailwind utilities;


.card{
  background-color: beige;
  max-width: 200px;
  border-radius: 5px;
  border: 1px solid black;
  font-family: sans-serif;
  margin :10px;
  padding :2px;
  text-align: center;
  display:inline-block;
}

.card img{
  width: 200px;
  height:150px;
}